*/2018_Central_Park_Squirrel_Census_-_Squirrel_data.csv
*\2018_Central_Park_Squirrel_Census_-_Squirrel_data.csv
C:\Users\Daniel Name\IdeaProjects\100DaysofPythonCourse\Lessons\Intermediate\CSV Data and Pandas\2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv